@font-face {
    font-family: 'UAESymbol';
    src: url('aed-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.aed-symbol {
    font-family: 'UAESymbol', sans-serif;
    font-size: 16px;
}
